<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Peluqueria.Properties.Settings.BDPeluqueriaConnectionString"
            connectionString="Data Source=a306-15\PRG3SQL;Initial Catalog=BDPeluqueria;User ID=sa;Password=123456;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>